<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Targets: define where the logs will be written -->
  <targets>
    <target xsi:type="File" name="file" fileName="logs/logfile.log"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception}" />
  </targets>

  <!-- Rules: define which log messages should be written -->
  <rules>
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>
